@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Стики-футер*/
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  min-width: 1280px;
  background: #f2f2f2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  white-space: wrap;
  overflow-wrap: break-word;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

/* Кнопки */
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82b3d3;
  cursor: pointer;
  display: block;
}

/* Шапка с навигацией */

.page-header {
  background-color: #ffffff;
  color: #000000;
}

/* для логотипа*/
.navigation-logo-image {
  display: block;
}

.navigation-logo {
  margin-bottom: -6px;
  position: relative;
}

.header-navigation {
  display: grid;
  grid-template-columns: 140px 1fr auto;
  margin: 0;
  padding: 0 70px;
  column-gap: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
/*   gap: 4px; */
}

.navigation-list-user {
  justify-content: flex-end;
/*   gap: 4px; */
}

.navigation-link,
.navigation-link-user {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  padding: 20px 16px;

}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-user {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
  padding: 22px 12px;
}

.navigation-link-user-favourites {
  margin-right: 16px;
  position: relative;
}

.navigation-link-user-favourites {
  background-image: url("../images/header/favourites.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-user-search {
  background-image: url("../images/header/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-user-favourites:hover,
.navigation-link-user-search:hover,
.navigation-link-user-favourites:focus,
.navigation-link-user-search:focus {
  background-color: #af9080;
  border: none;
}

.navigation-link-user-favourites:active,
.navigation-link-user-search:active {
  background-color: #af9080;
  opacity: 0.3;
}

.navigation-link-user-goto {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px 34px;
  align-items: center;
  min-height: 36px;
}

.navigation-link-user-goto:hover,
.navigation-link-user-goto:focus {
  background-color: #615048;
}

.navigation-link-user-goto:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-user-goto:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

.current-index {
  position: relative;
}

.current-index .navigation-link-current::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #756257;
  left: 16px;
  right: 16px;
  height: 2px;
}

.current-inner {
  position: relative;
}

.current-inner .navigation-link-current::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #756257;
  left: 16px;
  right: 16px;
  height: 2px;
}

.notification-badge {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
  top: 0;
  min-width: 20px;
  height: 20px;
  background: #7DB54F;
  border-radius: 100vh;
  padding: 1px;
  box-sizing: border-box;
}

/* ОСНОВНОЙ КОНТЕНТ */

.hero-section {
  text-align: center;
  padding: 51px 371px 82px 371px;
}

.hero-section-image {
  vertical-align: middle;
}

/* Фоновая картинка в херо блоке */
.hero-section {
  background-image: url("../images/index/collar-index.svg"), url("../images/index/index-photo.jpg");
  background-color: #909ba2;
  color: #000000;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-position: bottom, center;
  background-size: 100%, cover;
}

/* Призывы к действию */
.section-describes {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.section-describes-hero {
  margin-bottom: 25px;
}

.section-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
}

.describes-search-container .section-text {
  margin-bottom: 54px;
}

.describes-advantages-container {
  padding: 69px 274px;
}

.describes-infrastructure-container {
  padding: 64px 346px;
}

.describes-search-container {
  padding: 96px 304px;
}

/* Список: преимущества и сервис */
.advantages-list {
  margin: 0;
  margin-top: 21px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 112.5px 85px;
  margin: 0;
  position: relative;
}

.advantages-item-image {
  width: 100%;
  padding: 0;
  display: flex;
}

.advantages-item-bridge {
  flex-direction: row-reverse;
}

.advantages-container {
  box-sizing: border-box;
  width: 400px;
  padding: 102px 85px;
  position: relative;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.infrastructure-item {
  box-sizing: border-box;
  width: 400px;
  padding: 183px 85px 81px 85px;
}

.infrastructure-item-house {
  background-image: url("../images/index/house-icon.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.infrastructure-item-food {
  background-image: url("../images/index/food-icon.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.infrastructure-item-present {
  background-image: url("../images/index/present-icon.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.advantages-subtitle,
.infrastructure-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.infrastructure-subtitle {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-description,
.infrastructure-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.advantages-subtitle::after {
  content: '';
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  margin: 30px auto;
}

.advantages-container .advantages-subtitle::after {
  content: '';
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  margin: 30px auto;
}

.advantages-list li:nth-child(4n+1) {
  background-color: #82b3d3;
}

.advantages-list li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.infrastructure-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-list li:nth-child(even) {
  background-color: #ffffff;
}

.search-button {
  background-color: #756157;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  min-height: 52px;
  padding: 8px 50px;
  margin: 0 auto;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}


/* Подвал сайта */
.mailing,
.mailing-catalog {
  box-sizing: border-box;
  padding: 96px 258px 106px 258px;
}

.mailing-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mailing .section-text,
.mailing-catalog .section-text {
  margin-bottom: 54px;
}

.mailing-form input,
.mailing-form button {
  border: 0;
  max-width: 100%;
}

.mailing-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 452px;
  min-height: 52px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
}

.mailing-input:hover {
  background-color: #e6e6e6;
}

.mailing-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.mailing-input:disabled {
  background-color: #e5e5e5;
  opacity: 0.3;
  cursor: default;
}

.mailing-form button {
  box-sizing: border-box;
  min-width: 232px;
  min-height: 52px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.footer-socials {
  padding: 40px 70px 30px 70px;
}

.footer-socials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
}

.footer-socials-list {
  display: flex;
  align-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 300px;
  list-style-type: none;
}

.footer-phone {
  box-sizing: border-box;
  margin: 0;
  max-width: 335px;
}

.footer-logo {
  box-sizing: border-box;
  max-width: 190px;
  margin: 0;
}

.mailing {
  background-image: url("../images/footer/background-subscribe.jpg");
  background-color: #909ba2;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.footer-socials {
  background-color: #ffffff;
  color: #000000;
}

.footer-socials-item {
  width: 47px;
}

.footer-socials-link {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.footer-socials-link .vkontakte-icon,
.footer-socials-link .telegram-icon,
.footer-socials-link .youtube-icon {
  fill: #83b3d3;
}

.footer-socials-link:hover .vkontakte-icon,
.footer-socials-link:focus .vkontakte-icon {
  fill: #68a2ca;
}

.footer-socials-link:active .vkontakte-icon,
.footer-socials-link:active .telegram-icon,
.footer-socials-link:active .youtube-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-socials-link:hover .telegram-icon,
.footer-socials-link:focus .telegram-icon {
  fill: #68a2ca;
}

.footer-socials-link:hover .youtube-icon,
.footer-socials-link:focus .youtube-icon {
  fill: #68a2ca;
}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  color: #756157;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.logo-icon {
position: absolute;
right: 0;
top: 8px;
}

.footer-logo-link .logo-icon {
  fill: #000000;
}

.footer-logo-link:hover .logo-icon,
.footer-logo-link:focus .logo-icon {
  fill: #756157;
}

.footer-logo-link:active .logo-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.function-color {
  color: #ffffff;
}

/* СТРАНИЦА КАТАЛОГА */
.page-filter {
  background-image: url("../images/catalog/background-filter.jpg");
  background-color: #909ba2;
  color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 35px 70px 70px 70px;
  text-align: left;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: inherit;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list,
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-align: left;
  text-decoration: none;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
  position: relative;
}

.breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 15px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link .house-icon {
  fill: #ffffff;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbs-link .house-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link .house-icon:focus {
  fill: #ffffff;
}

.breadcrumbs-link .house-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-catalog {
  margin-left: 18px;
  width: min-content;
}

.breadcrumbs-item:first-child::after {
  content: '';
  background-image: url("../images/catalog/arrow-right.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 23px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 70px;
}

.option:focus-within {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

/* чекбокс и радиокнопка*/
.catalog-filter-group-price {
  margin-left: auto;
  margin-right: 70px;
}

.rang-scale {
  position: relative;
  height: 4px;
  margin-top: 48px;
  background-color: rgba(255, 255, 255, 0.3);
}

.rang-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.rang-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.rang-toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.rang-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.toggle-min {
  bottom: -8px;
  left: 0;
}

.toggle-max {
  bottom: -8px;
  right: 0;
}

.infrastructure label:not(:last-child) {
  margin-bottom: 16px;
}

.hotel label:not(:last-child) {
  margin-bottom: 16px;
}

.number-container {
  display: grid;
  grid-template-columns: repeat(2, 143px);
  grid-template-rows: 48px;
  grid-column-gap: 2px;
  width: 288px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Кнопки на странице каталога*/

.button-catalog-container .button-catalog {
  display: block;
}

.button-catalog-container {
  margin-top: 56px;
}

.button-catalog {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.button-catalog-favourites {
  background-color: #82b3d3;
  padding: 8px 20px;
}

.button-catalog-choice {
  background-color: #7db54f;
  padding: 8px 18px;
}

.button-use {
  background-color: #82b3d3;
  padding: 8px 26px;
  width: 192px;
  min-height: 36px;
  margin-bottom: 32px;
}

.button-reset {
  background-color: transparent;
  border: none;
  padding: 8px 26px;
  width: 192px;
  min-height: 36px;
  box-sizing: border-box;
}

/* состояния кнопок на странице каталога*/

.description-container .button-catalog:hover,
.description-container .button-catalog:focus {
  background-color: #615048;
}

.description-container .button-catalog:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-catalog.button-catalog-favourites:hover,
.button-catalog.button-catalog-favourites:focus {
  background-color: #68a2ca;
}

.button-catalog.button-catalog-favourites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-catalog.button-catalog-favourites:disabled,
.button-catalog.button-catalog-choice:disabled,
.button-use:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

.button-catalog.button-catalog-choice:hover,
.button-catalog.button-catalog-choice:focus {
  background-color: #6c9e42;
}

.button-catalog.button-catalog-choice:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-use:hover,
.button-use:focus {
  background-color: #68a2ca;
}

.button-use:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:hover {
  color: #ffffff;
  opacity: 0.6;
}

.button-reset:focus {
  color: #ffffff;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.option {
  position: relative;
  display: block;
}

.format-checkbox {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
}

.format-radio {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.option-name {
  padding-left: 36px;
}

.control-option {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  left: 0;
  top: 1px;
}

.control-radio {
  border-radius: 50%;
}

.option-input {
  margin: 0;
  width: 0;
  height: 0;
}

.option-input[type=checkbox]:checked + .control-option {
  background-image: url("../images/catalog/check-icon.svg");
  background-repeat: no-repeat;
  background-position: 4px 6px;
}

.option-input[type=radio]:checked + .control-option {
  background-image: url("../images/catalog/lap-icon.svg");
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.option:hover .control-option,
.option:hover .option-name {
  opacity: 0.6;
  color: #ffffff;
}

.option:focus .control-option {
  outline: 3px solid #83B3D3;
}

.option:active .control-option,
.option:active .option-name {
  opacity: 0.3;
  color: #ffffff;
}

.option-input:disabled + .control-option {
  cursor: default;
  background: #e5e5e5;
}

.input-number {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  margin: 0;
  border: 0;
}

label.min,
label.max {
  position: relative;
}

.prefix-min {
  position: absolute;
  top: 12px;
  left: 106px;
  color: #000000;
  opacity: 0.3;
}

.prefix-max {
  position: absolute;
  top: 12px;
  left: 106px;
  color: #000000;
  opacity: 0.3;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number:hover {
  background: #E6E6E6;
}

.input-number:focus {
  box-sizing: border-box;
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.input-min,
.input-max {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  text-align: left;
  padding: 12px 20px;
}

.input-min {
  border-radius: 4px 0 0 4px;
}

.input-max {
  border-radius: 0 4px 4px 0;
}

/* Вид представления карточек */
.sort-card-container {
  padding: 50px 70px 60px 70px;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.results-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-right: auto;
  text-transform: uppercase;
 align-self: center;
}

.sort-price {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  box-sizing: border-box;
  padding: 12px 18px;
  margin: 0;
  margin-right: 70px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/catalog/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 260px 21px;
}

.sort-price:hover {
  border: 2px solid #68A2CA;
  box-sizing: border-box;
}

.sort-price:focus {
  border: 2px solid #68A2CA;
  box-sizing: border-box;
}

.sort-view-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-template-rows: 48px;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sort-view-link-button {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  min-width: 100%;

  position: relative;
}

.view-icon-1,
.view-icon-2,
.view-icon-3 {
  position: absolute;
  top: 14px;
  right: 15px;
}

.card {
  margin-bottom: 80px;
}

.sort-view-link-button-choice {
  border: 2px solid #000000;
}

.sort-view-link-button {
  fill: #000000;
}

.sort-view-link-button .view-icon-1,
.sort-view-link-button .view-icon-2,
.sort-view-link-button .view-icon-3 {
  fill: #000000;
}

.sort-view-link-button:hover {
  border-color: #000000;
}

.sort-view-link-button:focus {
  border-color: #68a2ca;
}

.sort-view-link-button:active {
  border-color: #000000;
}

/* Карточки гостиниц */
.card-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
}

.card-item {
  box-sizing: border-box;
  width: 342px;
  margin: 0;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 300px;
  row-gap: 16px;
}

.card-image-name-link {
  grid-column: 1/-1;
}

.card-image {
  background-color: #e5e5e5;
  display: block;
}

.card-description-name-link {
  text-decoration: none;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.card-description-name-link:focus-visible {
  outline: 3px solid #000000;
}

.card-description-name {
  margin: 0;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
}

.description-container {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
  align-self: end;
}

.card-description-housing {
  grid-column: 1/2;
  grid-row: 1/2;
  color: #333333;
}

.card-description-price {
  grid-column: 2/3;
  grid-row: 1/2;
  color: #333333;
  text-align: right;
}

.card-title-link {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #756157;
  box-sizing: border-box;
  padding: 8px 26px;
  border-radius: 4px;
  align-self: start;
}

.button-catalog-favourites,
.button-catalog-choice {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
}

.rating-star {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: center;
}

.star-1 {
  background-image:
    url("../images/catalog/star-icon.svg");
  background-repeat: no-repeat;
  height: 17px;
  background-position: 0 0;
}

.star-2 {
  background-image:
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg");
  background-repeat: no-repeat;
  height: 17px;
  background-position: 0 0, 24px 0;
}

.star-3 {
  background-image:
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg");
  background-repeat: no-repeat;
  height: 17px;
  background-position: 0 0, 24px 0, 48px 0;
}

.star-4 {
  background-image:
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg");
  background-repeat: no-repeat;
  height: 17px;
  background-position: 0 0, 24px 0, 48px 0, 72px 0;
}

.star-5 {
  background-image:
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg"),
    url("../images/catalog/star-icon.svg");
  background-repeat: no-repeat;
  height: 17px;
  background-position: 0 0, 24px 0, 48px 0, 72px 0, 96px 0;
}

.rating-value {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 22px;
  border-radius: 4px;
}

/* Пагинация*/
.pagination-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding: 10px 10px;
  height: 60px;
  min-width: 60px;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  text-decoration: none;
}

.pagination-link:hover:not(.pagination-link-current) {
  background-color: #68a2ca;
}

.pagination-link:focus:not(.pagination-link-current) {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
}

.pagination-link:active:not(.pagination-link-current) {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}


/*Подвал каталога*/
.mailing-text-catalog {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.mailing-description-catalog {
  color: #333333;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.mailing-button:hover {
  background-color: #68a2ca;
}

.mailing-button:focus {
  background-color: #68a2ca;
}

.mailing-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.mailing-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 242, 242, 0.8);
}

 /* активировать */
  .modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-sizing: border-box;
  min-width: 717px;
  min-height: 348px;
}

.modal-search {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  right: 52px;
  top: 64px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url(../images/index/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color:  #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
}

.modal-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 64px;
  padding-right: 34px;
}

.cotainer-form {
  grid-template-rows: 48px auto 48px auto 48px auto auto;
  grid-template-columns: 137px 198px 131px 111px;
  position: relative;
  display: grid;
}

.сheck-in {
  grid-column: 1/2;
  grid-row: 1/2;
}

.сheck-in-date {
  grid-column: 2/4;
  grid-row: 1/2;
}


.calendar-in {
  grid-column: 4/5;
  grid-row: 1/2;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0 4px 4px 0;
}

.calendar-out {
  grid-column: 4/5;
  grid-row: 3/4;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  border-radius: 0 4px 4px 0;
}

 .сheck-in-label {
  position: relative;
}

.calendar-in .calendar-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../images/index/date.svg);
  right: 20px;
  top: 14px;
}

.сheck-out-label {
  position: relative;
}

.calendar-out .calendar-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../images/index/date.svg);
  right: 20px;
  top: 110px;
}

.message-form-error {
  grid-column: 2/5;
  grid-row: 2/3;

}

.сheck-out {
  grid-column: 1/2;
  grid-row: 3/4;
}

.сheck-out-date {
  grid-column: 2/4;
  grid-row: 3/4;
}

.message-form-ok {
  grid-column: 2/5;
  grid-row: 4/5;
}

.big {
  grid-column: 1/2;
  grid-row: 5/6;
}

.group-contaiver-big {
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
}

.children {
  grid-column: 3/4;
  grid-row: 5/6;
}

.group-contaiver-children {
  grid-column: 4/5;
  grid-row: 5/6;
  display: flex;
}

.message-form-hidden {
  grid-column: 2/5;
  grid-row: 6/7;
}


.search-button-found {
  grid-column: 1/-1;
  grid-row: 7/8;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 18px 2px;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-height: 60px;
}

.search-button-found:hover {
  background-color: #68a2ca;
}

.search-button-found:focus {
  background-color: #68a2ca;
}

.search-button-found:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.search-button-found:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  cursor: default;
}

.field-name {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 2px;
  text-transform:capitalize;
}

.message-form {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  min-height: 48px;
}

.message-form-error {
  color: #ff5757;
}

.field {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.children-input,
.big-men-input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  margin: 0;
  padding: 10px 5px;
  width: 31px;
}

.regulate-button {
  padding: 0;
  width: 40px;
  border: none;
  margin: 0;
  box-sizing: border-box;
}

.minus-button {
  border-radius: 4px 0 0 4px;
}

.plus-button {
  border-radius: 0 4px 4px 0;
}

.group-contaiver-big .minus-button {
  background-color: #f2f2f2;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../images/index/button-minus.svg);
  background-position: center;
}


.group-contaiver-children .minus-button {
  background-color: #f2f2f2;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../images/index/button-minus.svg);
  background-position: center;
}

.group-contaiver-big .plus-button {
  background-color: #f2f2f2;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../images/index/button-plus.svg);
  background-position: center;
}

.group-contaiver-children .plus-button {
  background-color: #f2f2f2;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(../images/index/button-plus.svg);
  background-position: center;
}

.plus-button:hover,
.minus-button:hover {
  background-color:rgba(131, 179,211, 0.2);
}

.plus-button:focus,
.minus-button:focus {
 outline: 3px solid #82b3d3;
}
