@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



/*Стики-футер*/
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.page-conteiner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
  /*   word-break: normal; */
  white-space: wrap;
  overflow-wrap: break-word;
}

.main-conteiner {
  flex-grow: 1;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}

/* Кнопки */
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.card-title-link {
  background-color: #756157;
}

/* кнопки на странице каталога*/
.sort-view-link-button {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.button-catalog {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-catalog-favourites {
  background-color: #82b3d3;
}

.button-catalog-choice {
  background-color: #7db54f;
}

.button-use {
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
  border: none;
}

.search-button {
  background-color: #756157;
  display: block;
  box-sizing: border-box;
  width: 452px;
  padding: 0 20px;
  margin: 0 auto;
  border: 0;
}

/* Шапка с навигацией */
.header-navigation {
  display: flex;
  margin: 0;
}

.navigation-logo {
  margin-left: 70px;
}

.navigation-list {
  width: 520px;
  padding: 0;
  margin: 0 0 0 28px;
}

.navigation-list-user {
  width: 320px;
  margin: 0 70px 0 0;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation-link,
.navigation-link-user {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  text-decoration: none;
}

/* ОСНОВНОЙ КОНТЕНТ */

.hero-section {
  text-align: center;
}

.hero-section-image {
  vertical-align: middle;
}

/* .hero-section-image {
  display: block;
  margin: 0 auto;
} */

/* Фоновая картинка в херо блоке */
.hero-section {
  background-image: url("../images/index/collar-index.svg"), url("../images/index/index-photo.jpg");
  background-color: #909ba2;
  color: #000000;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, scroll;
  background-position: bottom, center;
  background-size: 100%, cover;
}

/* Призывы к действию */
.section-describes {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0 258px;
}

.section-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0 258px;
}

/* Список: преимущества и сервис */

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  padding: 0 85px;
}

.advantages-item-image {
  width: 100%;
  padding: 0;
}

.advantages-image-1 {
  display: block;
  margin-left: auto;
}

.advantages-image-2 {
  display: block;
  margin-right: auto;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.infrastructure-item {
  box-sizing: border-box;
  width: 400px;
  padding: 0 85px;
}

.advantages-subtitle,
.infrastructure-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-description,
.infrastructure-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-list li:nth-child(4n+1) {
  background-color: #82b3d3;
}

.advantages-list li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.infrastructure-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-list li:nth-child(even) {
  background-color: #ffffff;
}


/* Подвал сайта */

.footer-info-conteiner {
  box-sizing: border-box;
  width: 684px;
  margin: 0 auto;
  padding: 0 104.5px;
}

.footer-form-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-form-conteiner input,
.footer-form-conteiner button {
  border: 0;
  padding: 0;
  max-width: 100%;
}

.footer-form-conteiner input {
  box-sizing: border-box;
  width: 452px;
  padding: 0 20px;
}

.footer-form-conteiner button {
  box-sizing: border-box;
  width: 232px;
  padding: 0 50px;
}

.footer-socials-conteiner {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.footer-socials-list {
  box-sizing: border-box;
  margin: 0 0 0 70px;
  padding: 0;
  max-width: 190px;
}

.footer-phone {
  box-sizing: border-box;
  margin: 0;
  max-width: 335px;

}

.footer-logo {
  box-sizing: border-box;
  max-width: 130px;
  margin: 0 70px 0 0;
}



.mailing {
  background-image: url("../images/footer/background-subscribe.jpg");
  background-color: #909ba2;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

input[type="email"] {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: left;
}

.footer-socials {
  background-color: #ffffff;
  color: #000000;
}

.footer-socials-link {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
}

.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-logo-link {
  background-image: url("../images/footer/logo-htmlacademy.svg");
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.function-color {
  color: #ffffff;
}

/* СТРАНИЦА КАТАЛОГА */
.page-filter {
  background-image: url("../images/catalog/background-filter.jpg");
  background-color: #909ba2;
  color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 0 70px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: inherit;
}

.breadcrumbs-list,
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-align: left;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
}

input[type="number"] {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: right;
}

input[value="0"],
input[value="9000"] {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: right;
}



/* Вид представления карточек */
.sort-card-conteiner {
   padding: 0 70px;
}

.sorting-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
    gap: 20px;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0 70px;
  gap: 8px;
}

.pagination-item {
  width: 60px;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

.results-search {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.sort-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* Каталог */
.card-list {
  padding: 0;
  margin: 0;
}

.card-item {
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  width: 340px;
  margin: 0;

}

.card-description {
  font-weight: 400;
  background-color: #ffffff;
  color: #333333;
  font-size: 18px;
  line-height: 21px;

}

.rating-value {
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Пагинация*/
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
  text-decoration: none;

}

/*Подвал каталога*/
.mailing-text-catalog {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.mailing-description-catalog {
  color: #333333;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
